<section id='intro'>
  <h1>Welcome to your Todo List!</h1>
  <p>Here you can create new Tasks, keep track of them, and mark them as Complete when they're done.</p>
  <p>Each task has a name and a status. New tasks will have a status of 'Incomplete', although you can mark them as 'Complete' later.</p>
  <a href="{{ path('todo_new') }}">Get started by creating a new Task</a>
</section><br>

<a href="{{ path('todo_index') }}">All your current Tasks</a>
<hr>
<a href="https://github.com/Jonpatt92/todo_list">View our app on Github</a>
